header.jumbotron.text-center
  .container
    h1.jumbotron-heading Naughty Mouth
    p.lead
      | Censoring your talk-to-text. Why? Because it's funny.
    p
      a.btn.btn-primary.my-2(href='#') Record
      a.btn.btn-secondary.my-2(href='#') Stop
