extends layout/index
block content
    #home.container
        .row
            .col-sm-8
                .maincontent
                    article.article
                        h2.article-title Some title
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ornare mollis eros, at venenatis enim lobortis feugiat. Vivamus faucibus quis neque ac malesuada. Pellentesque quis lectus volutpat, posuere nibh non, hendrerit elit. Curabitur eget lorem a ligula faucibus vehicula eu non enim. Nam viverra congue aliquet. Curabitur molestie purus sed ipsum iaculis porttitor. Donec in leo commodo mi condimentum efficitur in at ex. Phasellus sit amet dignissim risus, vel ultrices dolor. Aenean eleifend elit sit amet lacus aliquam congue. Fusce placerat malesuada tellus, nec vestibulum nulla gravida et. Ut ultrices et turpis sagittis suscipit. Duis mollis nulla ut neque iaculis, non maximus elit eleifend. Vivamus a porttitor turpis, nec venenatis velit.
                        p
                            | Pellentesque vitae nulla nunc. Integer imperdiet lacinia metus, ac lacinia tortor mollis sed. Cras consectetur mi sit amet dolor rhoncus consequat. Donec odio lectus, scelerisque vel aliquet vel, accumsan a leo. Suspendisse tincidunt ex sapien, vel porta ligula consequat vel. Aliquam malesuada molestie luctus. Vivamus eu nulla nec tortor venenatis feugiat et ac arcu. Morbi elementum ante sit amet arcu congue consequat. Suspendisse viverra vulputate venenatis. Suspendisse suscipit tincidunt sem, a iaculis justo semper at. Aenean non tellus ut eros venenatis molestie. Maecenas porta ex eu lacus posuere efficitur. Nunc tristique tempus tortor, vel pellentesque ligula semper in. Suspendisse vitae blandit sapien, vitae venenatis diam.
                    // article
                    article.article
                        h2.article-title Another title
                        p
                            | 
                            a(href='#') Just a link.
            // primary
        // secondary
    // container